# Pandas

## Dataframes

In [ ]:
# In this exercise, we wiil use the Titanic data set
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

### Q1. Which of the following is not among the first 10 passengers listed in the data set?

a. Master Leonard

b. Miss Laina

c. Mrs. Vilhelmina

d. Mr. Cooper

In [ ]:
#----------------------------------------------------------------------
df.Name.head(10)
#----------------------------------------------------------------------

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

### Q2. What is the average age of the passengers? (rounded down)

In [ ]:
#----------------------------------------------------------------------
df.describe()
#----------------------------------------------------------------------

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### Q3. How many samples (rows) and variables (columns) are in the data set?

In [ ]:
#----------------------------------------------------------------------
df.shape
#----------------------------------------------------------------------

(891, 12)

### Q4. Which variable has the most null values?

In [ ]:
#----------------------------------------------------------------------
df.isnull().sum(axis = 0)
#----------------------------------------------------------------------

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Series

### Retrieve the `Pclass` column.

In [ ]:
#----------------------------------------------------------------------
# Insert code here
# Hint: []
df_Pclass = df['Pclass'] # Answer: you can also use df.Pclass
#----------------------------------------------------------------------
print(df_Pclass.unique())

[3 1 2]

### Q5. How many different passenger classes are there?

In [ ]:
# Let's convert 'Pclass' to a categorical variable
df_Pclass = df_Pclass.astype(str)

#----------------------------------------------------------------------
# Insert code here
df_Pclass.describe()
#----------------------------------------------------------------------

count     891
unique      3
top         3
freq      491
Name: Pclass, dtype: object

## Filtering

### Q6. How many passengers share the same Ticket 349909?

In [ ]:
# Let's set the ticket ID
ticket = '349909'

#----------------------------------------------------------------------
# Insert code here
(df.loc[df.Ticket == ticket]).shape
#----------------------------------------------------------------------
# To retrieve all duplicate tickets:
#print(df.loc[df.duplicated(subset='Ticket'),'Ticket'])

(4, 12)

## Counting Values

### Q7. Which passenger class has the most number of passengers?

In [ ]:
#----------------------------------------------------------------------
# Insert code here
df_Pclass = df_Pclass.astype(str)

#----------------------------------------------------------------------
# Insert code here
df_Pclass.value_counts()
#----------------------------------------------------------------------
# Plot results
# pclass_count.sort_index(inplace=True) # Use this to sort by index
# pclass_count.sort_values(inplace=True) # Ues this to sort by value
# pclass_count.plot(kind='bar')

3    491
1    216
2    184
Name: Pclass, dtype: int64

## Missing Values

### Q8. How many samples have missing/unknown age?

In [ ]:
import numpy as np

# For this exercise, let's make a copy of the dataframe
df_copy = df.copy(deep=True) 

#----------------------------------------------------------------------
# Insert code here
df_copy.isnull()
#----------------------------------------------------------------------

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

### Q9. How can we impute/fill in missing values in the data?

In [ ]:
#----------------------------------------------------------------------
# Insert code here
# Hint: get the average, then fill missing values
# There should be 0 samples with missing age
#----------------------------------------------------------------------